---
import MainLayout from '@/layouts/MainLayout.astro';
import Layout from '@/layouts/Layout.astro';
import Header from "@/components/Header.astro";
import "@/styles/global.css";
---
<MainLayout>
<section class="bg-[#1e1e1e] h-screen justify-center">
    <div class="items-center grid grid-cols-1 md:grid-cols-2 justify-center md:pl-10 md:pr-10 md:pb-5 pl-2 pr-2 pb-2">
        <h1 class="text-[#f0f1f1] font-bold md:text-5xl text-3xl">Cámaras</h1>
        <div class="bg-[#262626] rounded-xl p-3 shadow flex flex-row gap-2 items-end justify-end md:gap-1 md:p-6">
            <h2 class="text-lg font-semibold min-w-[30%] md:text-2xl">Temporizador de Captura</h2>
            <p class="text-xl font-mono font-bold min-w-[30%] md:text-3xl">00:32:10</p>
            <p class="text-xs text-gray-300 min-w-[30%] md:text-sm">Restantes</p>
        </div>
        <label class="text-[#f0f1f1] md:text-base text-sm">Monitorea las camaras de las zonas de cultivo</label>
    </div><br>
    <h2 class="text-[#f0f1f1] font-medium md:text-3xl md:pl-10 md:pr-10 pl-2 pr-2 text-lg">Zona #1</h2><br>
    <div class="grid grid-cols-1 md:grid-cols-3 md:pl-10 md:pr-10 md:pb-5 md:gap-20 pl-2 pr-2 pb-4 gap-6">
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <video
                id="camera1"
                class="w-full h-auto rounded-lg mt-2 min-h-[50%]"
                autoplay
                playsinline
                muted
            ></video>
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
    </div><br>
    <h2 class="text-[#f0f1f1] font-medium md:text-3xl md:pl-10 md:pr-10 pl-2 pr-2 text-lg">Zona #2</h2><br>
    <div class="grid grid-cols-1 md:grid-cols-3 md:pl-10 md:pr-10 md:pb-5 md:gap-20 pl-2 pr-2 pb-4 gap-6">
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
    </div>
    <script type="module">
      (async () => {
        const video = document.getElementById('camera1');
        if (!navigator.mediaDevices?.getUserMedia) {
          console.warn('getUserMedia no soportado en este navegador');
          return;
        }
        try {
          const stream = await navigator.mediaDevices.getUserMedia({ video: true });
          video.srcObject = stream;
        } catch (err) {
          console.error('Error al acceder a la cámara:', err);
        }
      })();
    </script>
</section>