---
import MainLayout from '@/layouts/MainLayout.astro';
import Layout from '@/layouts/Layout.astro';
import Header from "@/components/Header.astro";
import "@/styles/global.css";
---
<MainLayout>
<section class="bg-[#1e1e1e] h-screen justify-center">
    <div class="items-center grid grid-cols-1 md:grid-cols-2 justify-center md:pl-10 md:pr-10 md:pb-5 pl-2 pr-2 pb-2">
        <h1 class="text-[#f0f1f1] font-bold md:text-5xl text-3xl">Cámaras</h1>
        <div class="bg-[#262626] rounded-xl p-3 shadow flex flex-row gap-2 items-end justify-end md:gap-1 md:p-6">
            <h2 class="text-lg font-semibold min-w-[30%] md:text-2xl">Temporizador de Captura</h2>
            <p id="temporizador" class="text-xl font-mono font-bold min-w-[30%] md:text-3xl">00:32:10</p>
            <p class="text-xs text-gray-300 min-w-[30%] md:text-sm">Restantes</p>
        </div>
        <label class="text-[#f0f1f1] md:text-base text-sm">Monitorea las camaras de las zonas de cultivo</label>
    </div><br>
    <div class="grid md:grid-cols-3 sm:grid-cols-2 justify-between">
        <div class="bg-[#272726] p-4 m-4 w-1/6 sm:w-3/5">
            <p class="text-[#f0f1f1] flex flex-row"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal p-0.5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg> Zona:    
                <select id="opciones" class="bg-[#272726]" name="">
                <option value="1">Todas</option>
                <option value="1">Zona #1</option>
                <option value="2">Zona #2</option>
                <option value="3">Zona #3</option>
            </select></p>
        </div>
        <div class="bg-[#272726] p-4 m-4 w-1/6 sm:w-3/5">
            <p class="text-[#f0f1f1] flex flex-row"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal p-0.5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg> Estado:    
                <select id="opciones" class="bg-[#272726]" name="">
                <option value="1">Todas</option>
                <option value="1">Alerta temprana</option>
                <option value="2">Infección crítica</option>
                <option value="3">Sin alertas</option>
            </select></p>
        </div>
        <div class="bg-[#272726] p-4 m-4 w-1/6 sm:w-3/5">
            <p class="text-[#f0f1f1]">Buscar</p>
        </div>
    </div>
    <h2 class="text-[#f0f1f1] font-medium md:text-3xl md:pl-10 md:pr-10 pl-2 pr-2 text-lg">Zona #1</h2><br>
    <div class="grid grid-cols-1 md:grid-cols-3 md:pl-10 md:pr-10 md:pb-5 md:gap-20 pl-2 pr-2 pb-4 gap-6">
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <video
                id="camera1"
                class="w-full h-auto rounded-lg mt-2 min-h-[50%]"
                autoplay
                playsinline
                muted
            ></video>
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
    </div><br>
    <h2 class="text-[#f0f1f1] font-medium md:text-3xl md:pl-10 md:pr-10 pl-2 pr-2 text-lg">Zona #2</h2><br>
    <div class="grid grid-cols-1 md:grid-cols-3 md:pl-10 md:pr-10 md:pb-5 md:gap-20 pl-2 pr-2 pb-4 gap-6">
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
        <div class="bg-[#262626] rounded-xl p-6 shadow">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-base md:text-lg">Camara #1</p>
                <p class="md:text-base text-sm">Infección crítica</p>
            </div><br>
            <img src="/images/image 3.png" class="w-full h-auto rounded-lg mt-2 min-h-[50%]" alt="Camara #1" />
        </div>
    </div>
    <script type="module">
      (async () => {
        const video = document.getElementById('camera1');
        if (!navigator.mediaDevices?.getUserMedia) {
          console.warn('getUserMedia no soportado en este navegador');
          return;
        }
        try {
          const stream = await navigator.mediaDevices.getUserMedia({ video: true });
          video.srcObject = stream;
        } catch (err) {
          console.error('Error al acceder a la cámara:', err);
        }
      })();
    </script>
</section>

<script type="module" src="/src/scripts/timer.js"></script>