@import "tailwindcss";


@layer base {
    body {
      font-family: 'Inter', sans-serif;
    }

    h1, h2, h3 {
      font-family: 'Inter', sans-serif;
    } 

    p {
      font-family: 'Roboto', sans-serif;
    }
  }
  .cl-socialButtonsBlockButton{
    color:white
  }
  .cl-formFieldAction {
    color: rgba(255, 255, 255, 0.735)
  }
  .cl-footerActionLink {
    color: rgba(255, 255, 255, 0.735)
  }