---
const {title} = Astro.props 
import CustomUserButton from "@/components/CustomUserButton.astro"
const currentPath = Astro.url.pathname;
const user = await Astro.locals.currentUser()
---

<html lang="es">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body class="flex bg-[#1e1e1e] text-white h-screen font-sans">
    <aside class="hidden md:flex w-64 bg-[#262626] p-4 flex-col justify-between fixed md:static h-full z-10">
        <div>
            <div class="flex items-center gap-2 mb-6">
              <img src="/images/image.png" class="w-6 h-6" alt="Logo" />
              <h1 class="text-xl font-semibold">AgroScan AI</h1>
            </div>
          
            <nav>
              <h2 class="text-gray-400 text-sm uppercase mb-2">Menu Principal</h2>
              <ul class="space-y-2 mb-4">
                <li><a href="/dashboard/Inicio" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/Inicio' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5_162)">
                    <path d="M6.25 14H3.75L15 3.5L26.25 14H23.75" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.25 14V22.1667C6.25 22.7855 6.51339 23.379 6.98223 23.8166C7.45107 24.2542 8.08696 24.5 8.75 24.5H21.25C21.913 24.5 22.5489 24.2542 23.0178 23.8166C23.4866 23.379 23.75 22.7855 23.75 22.1667V14" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.25 24.5V17.5C11.25 16.8812 11.5134 16.2877 11.9822 15.8501C12.4511 15.4125 13.087 15.1667 13.75 15.1667H16.25C16.913 15.1667 17.5489 15.4125 18.0178 15.8501C18.4866 16.2877 18.75 16.8812 18.75 17.5V24.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_5_162">
                    <rect width="30" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span> Inicio</a></li>
                <li><a href="/dashboard/Reportes" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/Reportes' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5_176)">
                    <path d="M3.5 10.5C3.5 9.88116 3.74583 9.28767 4.18342 8.85008C4.621 8.4125 5.21449 8.16666 5.83333 8.16666H22.1667C22.7855 8.16666 23.379 8.4125 23.8166 8.85008C24.2542 9.28767 24.5 9.88116 24.5 10.5V21C24.5 21.6188 24.2542 22.2123 23.8166 22.6499C23.379 23.0875 22.7855 23.3333 22.1667 23.3333H5.83333C5.21449 23.3333 4.621 23.0875 4.18342 22.6499C3.74583 22.2123 3.5 21.6188 3.5 21V10.5Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.33331 8.16667V5.83333C9.33331 5.21449 9.57915 4.621 10.0167 4.18342C10.4543 3.74583 11.0478 3.5 11.6666 3.5H16.3333C16.9522 3.5 17.5456 3.74583 17.9832 4.18342C18.4208 4.621 18.6666 5.21449 18.6666 5.83333V8.16667" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 14V14.0117" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.5 15.1667C6.75684 16.8078 10.353 17.6627 14 17.6627C17.647 17.6627 21.2432 16.8078 24.5 15.1667" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_5_176">
                    <rect width="28" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg></span> Reportes</a></li>
                <li><a href="/dashboard/camaras" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/camaras' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_7_267)">
                    <path d="M5.83333 8.16667H7C7.61884 8.16667 8.21233 7.92084 8.64992 7.48325C9.0875 7.04567 9.33333 6.45218 9.33333 5.83334C9.33333 5.52392 9.45625 5.22717 9.67504 5.00838C9.89383 4.78959 10.1906 4.66667 10.5 4.66667H17.5C17.8094 4.66667 18.1062 4.78959 18.325 5.00838C18.5437 5.22717 18.6667 5.52392 18.6667 5.83334C18.6667 6.45218 18.9125 7.04567 19.3501 7.48325C19.7877 7.92084 20.3812 8.16667 21 8.16667H22.1667C22.7855 8.16667 23.379 8.4125 23.8166 8.85009C24.2542 9.28767 24.5 9.88117 24.5 10.5V21C24.5 21.6188 24.2542 22.2123 23.8166 22.6499C23.379 23.0875 22.7855 23.3333 22.1667 23.3333H5.83333C5.21449 23.3333 4.621 23.0875 4.18342 22.6499C3.74583 22.2123 3.5 21.6188 3.5 21V10.5C3.5 9.88117 3.74583 9.28767 4.18342 8.85009C4.621 8.4125 5.21449 8.16667 5.83333 8.16667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 15.1667C10.5 16.0949 10.8687 16.9852 11.5251 17.6415C12.1815 18.2979 13.0717 18.6667 14 18.6667C14.9283 18.6667 15.8185 18.2979 16.4749 17.6415C17.1313 16.9852 17.5 16.0949 17.5 15.1667C17.5 14.2384 17.1313 13.3482 16.4749 12.6918C15.8185 12.0354 14.9283 11.6667 14 11.6667C13.0717 11.6667 12.1815 12.0354 11.5251 12.6918C10.8687 13.3482 10.5 14.2384 10.5 15.1667Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_7_267">
                    <rect width="28" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span> Cámaras</a></li>
                <li><a href="/dashboard/Inventario" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/Inventario' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5_188)">
                    <path d="M4.66669 7C4.66669 7.92826 5.65002 8.8185 7.40036 9.47487C9.1507 10.1313 11.5247 10.5 14 10.5C16.4754 10.5 18.8493 10.1313 20.5997 9.47487C22.35 8.8185 23.3334 7.92826 23.3334 7C23.3334 6.07174 22.35 5.1815 20.5997 4.52513C18.8493 3.86875 16.4754 3.5 14 3.5C11.5247 3.5 9.1507 3.86875 7.40036 4.52513C5.65002 5.1815 4.66669 6.07174 4.66669 7Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.66669 7V14C4.66669 14.9283 5.65002 15.8185 7.40036 16.4749C9.1507 17.1313 11.5247 17.5 14 17.5C16.4754 17.5 18.8493 17.1313 20.5997 16.4749C22.35 15.8185 23.3334 14.9283 23.3334 14V7" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.66669 14V21C4.66669 21.9283 5.65002 22.8185 7.40036 23.4749C9.1507 24.1313 11.5247 24.5 14 24.5C16.4754 24.5 18.8493 24.1313 20.5997 23.4749C22.35 22.8185 23.3334 21.9283 23.3334 21V14" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_5_188">
                    <rect width="28" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span> Inventario</a></li>
              </ul>
          
              <h2 class="text-gray-400 text-sm uppercase mb-2">Otros</h2>
              <ul class="space-y-2 mb-4">
                <li><a href="/dashboard/Configuracion" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/Configuracion' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5_211)">
                    <path d="M14.5036 25.375C13.6191 25.3762 12.7334 24.8457 12.476 23.7836C12.3988 23.4649 12.2474 23.1688 12.0341 22.9197C11.8209 22.6705 11.5518 22.4752 11.2488 22.3496C10.9458 22.2241 10.6174 22.1719 10.2904 22.1972C9.96343 22.2226 9.64703 22.3248 9.367 22.4955C7.50254 23.6314 5.36742 21.4975 6.50325 19.6318C6.67375 19.3519 6.77579 19.0357 6.80108 18.7089C6.82638 18.3821 6.77421 18.054 6.64882 17.7512C6.52343 17.4483 6.32836 17.1794 6.07945 16.9661C5.83055 16.7529 5.53485 16.6014 5.21638 16.524C3.09454 16.0092 3.09454 12.9908 5.21638 12.476C5.53513 12.3988 5.83115 12.2474 6.08033 12.0341C6.32952 11.8209 6.52482 11.5518 6.65036 11.2488C6.7759 10.9458 6.82811 10.6174 6.80276 10.2904C6.77741 9.96343 6.6752 9.64703 6.50446 9.367C5.36862 7.50254 7.50254 5.36742 9.36821 6.50325C10.5765 7.23792 12.1425 6.58783 12.476 5.21637C12.9908 3.09454 16.0092 3.09454 16.524 5.21637C16.6012 5.53513 16.7526 5.83115 16.9659 6.08033C17.1791 6.32952 17.4482 6.52482 17.7512 6.65036C18.0542 6.7759 18.3826 6.82811 18.7096 6.80276C19.0366 6.7774 19.353 6.6752 19.633 6.50446C21.4975 5.36862 23.6326 7.50254 22.4968 9.36821C22.3263 9.64813 22.2242 9.96432 22.1989 10.2911C22.1736 10.6179 22.2258 10.946 22.3512 11.2488C22.4766 11.5517 22.6716 11.8206 22.9205 12.0339C23.1694 12.2471 23.4652 12.3986 23.7836 12.476C24.8542 12.7358 25.3847 13.6324 25.3762 14.523" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.875 14.5C10.875 15.4614 11.2569 16.3834 11.9367 17.0633C12.6166 17.7431 13.5386 18.125 14.5 18.125C15.4614 18.125 16.3834 17.7431 17.0633 17.0633C17.7431 16.3834 18.125 15.4614 18.125 14.5C18.125 13.5386 17.7431 12.6166 17.0633 11.9367C16.3834 11.2569 15.4614 10.875 14.5 10.875C13.5386 10.875 12.6166 11.2569 11.9367 11.9367C11.2569 12.6166 10.875 13.5386 10.875 14.5Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.5428 22.9583C20.5428 23.5993 20.7975 24.214 21.2507 24.6672C21.7039 25.1204 22.3186 25.375 22.9595 25.375C23.6005 25.375 24.2151 25.1204 24.6684 24.6672C25.1216 24.214 25.3762 23.5993 25.3762 22.9583C25.3762 22.3174 25.1216 21.7027 24.6684 21.2495C24.2151 20.7963 23.6005 20.5417 22.9595 20.5417C22.3186 20.5417 21.7039 20.7963 21.2507 21.2495C20.7975 21.7027 20.5428 22.3174 20.5428 22.9583Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.9595 18.7292V20.5417" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.9595 25.375V27.1875" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.622 20.8438L25.0524 21.75" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.8679 24.1667L19.2971 25.0729" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2971 20.8438L20.8679 21.75" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.0524 24.1667L26.6232 25.0729" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_5_211">
                    <rect width="29" height="29" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span> Configuración</a></li>
                <li><a href="/dashboard/Soporte" class={`flex items-center gap-2 px-2 py-2 rounded ${currentPath === '/dashboard/Soporte' ? 'bg-[#2f2f2f]' : 'hover:bg-[#2f2f2f]'}`}><span><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5_242)">
                    <path d="M23.3333 16.3333V12.8333C23.3333 10.358 22.35 7.98401 20.5996 6.23367C18.8493 4.48333 16.4753 3.5 14 3.5C11.5246 3.5 9.15066 4.48333 7.40032 6.23367C5.64998 7.98401 4.66665 10.358 4.66665 12.8333V16.3333" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 22.1667C7 24.0998 10.1337 25.6667 14 25.6667" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M23.3333 16.3333C23.3333 15.7145 23.0875 15.121 22.6499 14.6834C22.2123 14.2458 21.6188 14 21 14H19.8333C19.2145 14 18.621 14.2458 18.1834 14.6834C17.7458 15.121 17.5 15.7145 17.5 16.3333V19.8333C17.5 20.4522 17.7458 21.0457 18.1834 21.4832C18.621 21.9208 19.2145 22.1667 19.8333 22.1667H21C21.6188 22.1667 22.2123 21.9208 22.6499 21.4832C23.0875 21.0457 23.3333 20.4522 23.3333 19.8333V16.3333Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 16.3333C10.5 15.7145 10.2542 15.121 9.81658 14.6834C9.379 14.2458 8.78551 14 8.16667 14H7C6.38116 14 5.78767 14.2458 5.35008 14.6834C4.9125 15.121 4.66667 15.7145 4.66667 16.3333V19.8333C4.66667 20.4522 4.9125 21.0457 5.35008 21.4832C5.78767 21.9208 6.38116 22.1667 7 22.1667H8.16667C8.78551 22.1667 9.379 21.9208 9.81658 21.4832C10.2542 21.0457 10.5 20.4522 10.5 19.8333V16.3333Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_5_242">
                    <rect width="28" height="28" fill="white" transform="matrix(-1 0 0 1 28 0)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span> Soporte</a></li>
              </ul>
            </nav>
          </div>
          
          <div>
            <h2 class="text-gray-400 text-sm uppercase mb-2">Cuenta</h2>
            <CustomUserButton user={user}/>
        </div>
          
    </aside>

    <main class="flex-1 p-6 overflow-y-auto">
      <slot />
    </main>
  </body>
</html>